<h1 class="text-center">ROBOT WORLD</h1>

<a href="/robots" class="btn btn-primary btn-lg active" role="button">Robot Index</a>
<a href="/robots/new" class="btn btn-success btn-lg active" role="button">New Robot</a>