<a class="btn btn-primary btn-lg active" role="button" href="/robots">Robot Index</a>
<a class="btn btn-warning btn-lg active" role="button" href="/">Robot World</a>

<div class="text-center">
  <form action="/robots" method="post">
    <p>Create a new robot:</p><br/><br/>
    <p>Name:</p>
    <input type="text" name="robot[name]"/><br/>
    <p>City:</p>
    <input type="text" name="robot[city]"/><br/>
    <p>State:</p>
    <input type="text" name="robot[state]"/><br/>
    <p>Birthdate:</p>
    <input type="text" name="robot[birthdate]"/><br/>
    <p>Date Hired:</p>
    <input type="text" name="robot[date_hired]"/><br/>
    <p>Department:</p>
    <input type="text" name="robot[department]"/><br/>
    <input class="btn btn-info" type="submit"/>
  </form>
</div>