<div class="text-center">
  <form id="new_robot_form" action="/robots" method="post">
    <p>Create a new robot:</p><br/><br/>
    <p>Name:</p>
    <input type="text" name="robot[name]"/><br/>
    <p>City:</p>
    <input type="text" name="robot[city]"/><br/>
    <p>State:</p>
    <input type="text" name="robot[state]"/><br/>
    <p>Birthdate:</p>
    <input type="text" name="robot[birthdate]"/><br/>
    <p>Date Hired:</p>
    <input type="text" name="robot[date_hired]"/><br/>
    <p>Department:</p>
    <input type="text" name="robot[department]"/><br/>
    <input id="new_robot_form_submit" class="btn btn-info" type="submit"/>
  </form>
</div>